/build/
/dist/
build.xml
manifest.mf
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/config.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
/nbproject/
target/
dependency-reduced-pom.xml

#Intellij
/*.iml
/.idea
